@use '../base/variables' as v;
@use '../base/mixins' as m;  
.contenido-menu{
        @include m.tablet{
            display: grid;
            grid-template-columns: repeat(2, 1fr);     
        }
        .texto{
            p{
                font-size: 1.5rem;
                @include m.tablet{
                    font-size: 2rem;
                }
                @include m.telefono{
                    font-size: 1.8rem;
                }
            }
        }
    }