@use '../base/variables' as v;
@use '../base/mixins' as m;  


.notavif.notwebp .contenido-menu,
.webp .contenido-menu{
        background-image: url('../img/cafe.jpg'), url('../img/cafe.webp');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
        aspect-ratio: 3 / 5.8;

        @include m.telefono{
            aspect-ratio: 3 / 4;
            
        }
        @include m.tablet{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            aspect-ratio: 16 / 6;
            background-size: 40%;
            background-position: bottom right;            
        }
        .texto{
            p{
                font-size: 1.5rem;
                @include m.tablet{
                    font-size: 2rem;
                }
                @include m.telefono{
                    font-size: 1.8rem;
                }
            }
        }
    }